<div *ngIf="currentID != 0">
  <br>
  <h1>Welcome to the website!</h1>

  <button (click)="EditUser()">Edit Profile</button>
  <button (click)="DeleteUser(user.userId)">Delete Account</button>
  <button (click)="ShowSimilarUsers(user.userId)">Show Similar Users</button>

  <div id="EditingForm" style="display: none;">
    <br>
    <form [formGroup]="form" (ngSubmit)="onEdit()">
        Name:
        <input matInput type="username" placeholder="John Doe" formControlName="username" required> &nbsp;
        Email:
        <input matInput placeholder="johndoe@email.com" formControlName="email" required> &nbsp;
        Password:
        <input matInput type="password" placeholder="johndoe99" formControlName="password" required>
        <br><br>
        <button mat-raised-button color="primary">Submit Changes</button>
      </form>
  </div>

  <div id="ShowUsersDisplay" style="display: none;">
    <h2>Similar Users</h2>
    <ul>
      <li *ngFor="let filtereduser of filteredUsers">
        <ul>
          <li>Name: {{ filtereduser.username }}</li>
          <li>Email: {{ filtereduser.email }}</li>
          <li>Preferences:</li>
          <li *ngFor="let pref of filtereduser.preferencesModel">
            <ul>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;{{ pref }}</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <br>
  <br>
  <h2>Current User (Debug)</h2>
  <div *ngIf="user">
    <ul>
      <li>ID: {{ user.userId }}</li>
      <li>Name: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Password: {{ user.password }}</li>
    </ul>
  </div>
</div>
