<div *ngIf="currentID != 0">
  <br>
  <h1>Welcome to the website!</h1>

  <button (click)="EditUser()">Edit Profile</button> &nbsp;
  <button (click)="ShowSimilarUsers(user.userId)">Show Similar Users</button>
  <br>
  <br>
  <p>Zoom in and out on the map to see locations</p>
  <div *ngIf="user && displayMap">
    <br>
    <app-map [lat]="user.latitude" [lng]="user.longitude"
    [preferences]="user.preferencesModel" [radius]="radius"></app-map>
  </div>

  <div id="EditingForm" style="display: none;">
    <form [formGroup]="editingForm" (ngSubmit)="onEdit()">
      Name:
      <input matInput type="username" formControlName="username" id="username" required> &nbsp;
      Email:
      <input matInput formControlName="email" id="email" required> &nbsp;
      Password:
      <input matInput type="password" formControlName="password" id="password" required> &nbsp;
      <br><br>
      Address
      <input id="address" formControlName="address" size="40" ngx-google-places-autocomplete 
      [options]='options' (onAddressChange)="AddressChange($event)" autocomplete="off" placeholder="your address" /> &nbsp;
      Radius
      <input type="number" id="radius" formControlName="radius" min="1" max="30" value="10"> miles (1-30)
      <br>
      <br>
      <div id="interestSection">
        Interests:<br>
        <div *ngIf="this.user.preferencesModel.animals">
          <input type="checkbox" name="animals" id="1" checked> Animals
        </div>
        <div *ngIf="!this.user.preferencesModel.animals">
          <input type="checkbox" name="animals" id="1"> Animals
        </div>
        <div *ngIf="this.user.preferencesModel.art">
          <input type="checkbox" name="art" id="2" value="true" checked> Art
        </div>
        <div *ngIf="!this.user.preferencesModel.art">
          <input type="checkbox" name="art" id="2"> Art
        </div>
        <div *ngIf="this.user.preferencesModel.nightlife">
          <input type="checkbox" name="nightlife" id="3" checked> Nightlife
        </div>
        <div *ngIf="!this.user.preferencesModel.nightlife">
          <input type="checkbox" name="nightlife" id="3"> Nightlife
        </div>
        <div *ngIf="this.user.preferencesModel.beauty">
          <input type="checkbox" name="beauty" id="4" checked> Beauty<br>
        </div>
        <div *ngIf="!this.user.preferencesModel.beauty">
          <input type="checkbox" name="beauty" id="4"> Beauty<br>
        </div>
        <div *ngIf="this.user.preferencesModel.learning">
          <input type="checkbox" name="learning" id="5" checked> Learning
        </div>
        <div *ngIf="!this.user.preferencesModel.learning">
          <input type="checkbox" name="learning" id="5"> Learning
        </div>
        <div *ngIf="this.user.preferencesModel.entertainment">
          <input type="checkbox" name="entertainment" id="6" checked> Entertainment
        </div>
        <div *ngIf="!this.user.preferencesModel.entertainment">
          <input type="checkbox" name="entertainment" id="6"> Entertainment
        </div>
        <div *ngIf="this.user.preferencesModel.religion">
          <input type="checkbox" name="religion" id="7" checked> Religion<br>
        </div>
        <div *ngIf="!this.user.preferencesModel.religion">
          <input type="checkbox" name="religion" id="7"> Religion<br>
        </div>
        <div *ngIf="this.user.preferencesModel.shopping">
          <input type="checkbox" name="shopping" id="8" checked> Shopping
        </div>
        <div *ngIf="!this.user.preferencesModel.shopping">
          <input type="checkbox" name="shopping" id="8"> Shopping
        </div>
        <div *ngIf="this.user.preferencesModel.homedecour">
          <input type="checkbox" name="homedecour" id="9" checked> Home Decour
        </div>
        <div *ngIf="!this.user.preferencesModel.homedecour">
          <input type="checkbox" name="homedecour" id="9"> Home Decour
        </div>
        <div *ngIf="this.user.preferencesModel.fitness">
          <input type="checkbox" name="fitness" id="10" checked> Fitness
        </div>
        <div *ngIf="!this.user.preferencesModel.fitness">
          <input type="checkbox" name="fitness" id="10"> Fitness
        </div>
      </div>
      <br>
      <button mat-raised-button color="primary">Submit Changes</button>&nbsp;<button (click)="DeleteUser(user.userId)"
        style="background-color: red;">Delete Account</button>
    </form>
    <!-- <div *ngIf="editingForm.get('username').errors && editedSubmitted">
        <div *ngIf="editingForm.get('username').hasError('required')">
          <span style="color: red;">Please enter your name!</span>
        </div>
      </div>
      <div *ngIf="editingForm.get('email').errors && editedSubmitted">
        <div *ngIf="editingForm.get('email').hasError('required')">
          <span style="color: red;">Please enter your email!</span>
        </div>
        <div *ngIf="editingForm.get('email').hasError('email')">
          <span style="color: red;">You must enter a valid email!</span>
        </div>
      </div>
      <div *ngIf="editingForm.get('password').errors && editedSubmitted">
        <div *ngIf="editingForm.get('password').hasError('required')">
          <span style="color: red;">Please enter your password!</span>
        </div>
      </div>
      <div *ngIf="editingForm.get('city').errors && editedSubmitted">
        <div *ngIf="editingForm.get('city').hasError('required')">
          <span style="color: red;">Please enter your city!</span>
        </div>
      </div> -->
  </div>
  <br>
  <div id="ShowUsersDisplay" style="display: none;">
    <h2>Similar Users</h2>
    <ul>
      <li *ngFor="let filtereduser of filteredUsers">
        <ul>
          <li>Name: {{ filtereduser.username }}</li>
          <li>Email: <a [attr.href]="'mailto:' + filtereduser.email">{{ filtereduser.email }}</a></li>
          <li
            *ngIf="(user.preferencesModel.animals == filtereduser.preferencesModel.animals) && (filtereduser.preferencesModel.animals == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Animals</li>
          <li
            *ngIf="(user.preferencesModel.art == filtereduser.preferencesModel.art) && (filtereduser.preferencesModel.art == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Art</li>
          <li
            *ngIf="(user.preferencesModel.beauty == filtereduser.preferencesModel.beauty) && (filtereduser.preferencesModel.beauty == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Beauty</li>
          <li
            *ngIf="(user.preferencesModel.entertainment == filtereduser.preferencesModel.entertainment) && (filtereduser.preferencesModel.entertainment == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Entertainment</li>
          <li
            *ngIf="(user.preferencesModel.fitness == filtereduser.preferencesModel.fitness) && (filtereduser.preferencesModel.fitness== true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Fitness</li>
          <li
            *ngIf="(user.preferencesModel.homedecour == filtereduser.preferencesModel.homedecour) && (filtereduser.preferencesModel.homedecour == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Home Decour</li>
          <li
            *ngIf="(user.preferencesModel.learning == filtereduser.preferencesModel.learning) && (filtereduser.preferencesModel.learning == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Learning</li>
          <li
            *ngIf="(user.preferencesModel.nightlife == filtereduser.preferencesModel.nightlife) && (filtereduser.preferencesModel.nightlife == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Nightlife</li>
          <li
            *ngIf="(user.preferencesModel.religion == filtereduser.preferencesModel.religion) && (filtereduser.preferencesModel.religion == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Religion</li>
          <li
            *ngIf="(user.preferencesModel.shopping == filtereduser.preferencesModel.shopping) && (filtereduser.preferencesModel.shopping == true)">
            &nbsp;&nbsp;&nbsp;&nbsp;Shopping</li>
        </ul>
      </li>
    </ul>
  </div>


  <!-- <br>
  <br>
  <div *ngIf="user">
    <h2>Current User (Debug)</h2>
    <ul>
      <li>ID: {{ user.userId }}</li>
      <li>Name: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Password: {{ user.password }}</li>
    </ul>
  </div>
</div> -->
