#agm-map {
  position: relative;
  float: left;
  height: 420px;
  width: 700px;

  position: absolute;
  top: 50%;
  left: 49.5%;
  -moz-transform: translateX(-50.5%) translateY(-50%);
  -webkit-transform: translateX(-50.5%) translateY(-50%);
  transform: translateX(-50.5%) translateY(-50%);
}

#locationBox {
  /* position: relative;
  float: right; */
  background: lightskyblue;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
  max-width: 450px;

  position: absolute;
  top: 50%;
  left: 75.5%;
  -moz-transform: translateX(-24.5%) translateY(-50%);
  -webkit-transform: translateX(-24.5%) translateY(-50%);
  transform: translateX(-24.5%) translateY(-50%);
}

#customLabel {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
