<div id="map">
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="marker_lat" [longitude]="marker_lng" [iconUrl]="homeIcon"></agm-marker>
    <div *ngFor="let l of locations">
        <agm-marker [latitude]="l.latitude" [longitude]="l.longitude" [title]="l.title" [iconUrl]="l.iconUrl"></agm-marker>
    </div>
</agm-map>
<br>
<br>
<div *ngFor="let l of locations">
    <ul>
        <li>
           Name: {{l.title}}
           <ul>
               <li>
                   Address: {{l.address}}
               </li>
               <li *ngIf="l.phoneNumber">
                    Phone Number: {{l.phoneNumber}}
               </li>
               <li *ngIf="l.website">
                   Website: <a [attr.href]="l.website" target="_blank">{{l.title}}</a>
               </li>
           </ul>
        </li>
    </ul>
</div>