<div id="map">
</div>

<agm-map id="agm-map" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="marker_lat" [longitude]="marker_lng" [iconUrl]="homeIcon"></agm-marker>
    <div *ngFor="let l of locations">
        <agm-marker [latitude]="l.latitude" [longitude]="l.longitude" [title]="l.title" [iconUrl]="l.iconUrl"></agm-marker>
    </div>
</agm-map>
<br>
<br>
<div *ngIf="displayLocations" id="locationBox" (drag)="dragElement()">
  <div id="customLabel"><strong>Discovered Locations</strong></div><hr>
  <div class="col-md-12" style="padding-inline-start: 0 !important;">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
      style="padding-inline-start: 0 !important;"
    ></pagination-controls>
  </div>
  <button *ngFor="let l of locations | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: count }; let i = index;" [class.active]="i == currentIndex" (click)="getInformationOfPlace(l)" style="width: 450px; font-family:'Roboto',sans-serif;">
    <span *ngIf="!l.clicked" style="text-align: center;">{{l.title}}</span>
    <span *ngIf="l.clicked" style="text-align: center;"><br><em>{{l.title}}</em><hr></span>
    <ul *ngIf="l.clicked" style="text-align: left;">
        <li>
          <strong>Address:</strong> {{l.address}}
        </li>
        <li *ngIf="l.phoneNumber">
          <strong>Phone Number:</strong> {{l.phoneNumber}}
        </li>
        <li *ngIf="l.website">
          <strong>Website: </strong> <a [attr.href]="l.website" target="_blank">{{l.title}}</a>
        </li>
    </ul>
  </button>
  <br><br>
  <div id="customLabel">
    Items / Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>
