<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>


<!-- <br>
<form [formGroup]="login">
  <div>
    <label for="email">Email: </label>
    <input formControlName="email" type="text" placeholder="johndoe@email.com" name="email" id="email" required> &nbsp;
    <label for="password">Password: </label>
    <input formControlName="password" type="text" placeholder="johndoe99" name="password" id="password" required>
  </div>
  <div>
    <br>
    <button type="submit" (click)="onSubmit()">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</form>

<br>

<ul>
  <li *ngFor="let user of users$ | async">
    <ul>
      <li>ID: {{ user.userId }}</li>
      <li>Name: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Password: {{ user.password }}</li>
      <li>Preference ID: {{ user.preferencesId }}</li>
    </ul>
  </li>
</ul>

<br>
<br>

<div *ngIf="user">
  <ul>
    <li>ID: {{ user.userId }}</li>
    <li>Name: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Password: {{ user.password }}</li>
    <li>Preference ID: {{ user.preferencesId }}</li>
  </ul>
</div> -->
