<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Log In</h2>
    Email:
    <input placeholder="johndoe@email.com" formControlName="username" required> &nbsp;
    Password:
    <input type="password" placeholder="johndoe99" formControlName="password" required>
    <br><br>
  <button>Login</button>
</form>

<!-- <br>
<form [formGroup]="login">
  <div>
    <label for="email">Email: </label>
    <input formControlName="email" type="text" placeholder="johndoe@email.com" name="email" id="email" required> &nbsp;
    <label for="password">Password: </label>
    <input formControlName="password" type="text" placeholder="johndoe99" name="password" id="password" required>
  </div>
  <div>
    <br>
    <button type="submit" (click)="onSubmit()">Login</button>
    <button routerLink="/register">Register</button>
  </div>
</form>

<br>

<ul>
  <li *ngFor="let user of users$ | async">
    <ul>
      <li>ID: {{ user.userId }}</li>
      <li>Name: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Password: {{ user.password }}</li>
      <li>Preference ID: {{ user.preferencesId }}</li>
    </ul>
  </li>
</ul>

<br>
<br>

<div *ngIf="user">
  <ul>
    <li>ID: {{ user.userId }}</li>
    <li>Name: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Password: {{ user.password }}</li>
    <li>Preference ID: {{ user.preferencesId }}</li>
  </ul>
</div> -->
