<br>
<form [formGroup]="register">
  <div>
    <label for="username">Name: </label>
    <input formControlName="username" type="text" placeholder="John Doe" name="username" id="username" required> &nbsp;
    <label for="email">Email: </label>
    <input formControlName="email" type="text" placeholder="johndoe@email.com" name="email" id="email" required> &nbsp;
    <label for="password">Password: </label>
    <input formControlName="password" type="text" placeholder="johndoe99" name="password" id="password" required> &nbsp;
    <label for="preferencesId">Preference: </label>
    <input formControlName="preferencesId" type="text" placeholder="1" name="preferencesId" id="preferencesId" required>  </div>
  <div>
    <br>
    <button type="submit" (click)="onSubmit()">Register</button>
  </div>
</form>