#leftNavSection {
  background: grey;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid black;
  max-width: 225px;
  max-height: 200px;

  position: absolute;
  left: 90%;

  -moz-transform: translateX(-10%) translateY(-30%);
  -webkit-transform: translateX(-10%) translateY(-30%);
  transform: translateX(-10%) translateY(-30%);
}

#navSection {
  background: grey;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid black;
  max-width: 225px;
  max-height: 200px;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0.3em;
}
