<br><br><br>
<div *ngIf="currentID == 0 && !loginFlag && !registerFlag">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div id="navSection">
  <h1>{{title}}</h1>

  <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="clickedHome()">Home</button>
    <button *ngIf="currentID == 0" (click)="clickedLogin()">
      Login
    </button>
    <button *ngIf="currentID == 0" (click)="clickedRegister()">
      Register
    </button>
    <button *ngIf="currentID != 0" (click)="clickedLogout()">
      Logout
    </button>
  </div>
</div>

<div *ngIf="currentID != 0">
  <app-landing [IDVal]="currentID"></app-landing>
</div>

<div *ngIf="loginFlag == true">
  <app-login (currentIDEvent)="currentIDEventHandler($event)"></app-login>
</div>

<div *ngIf="registerFlag == true">
  <app-register (registeredEvent)="registeredEventHandler($event)"></app-register>
</div>
